<%- partial('_partial/bg-cover') %>
<div id='aboutme' class="container about-container">
  <div class="card">
    <div class="card-content">
      <div class="card-content article-card-content">
        <div class="title center-align" data-aos="zoom-in-up">
          <i class="fa fa-address-book"></i>&nbsp;&nbsp;test页面
        </div>
        <div id="articleContent" data-aos="fade-up">
          哈哈哈哈
        </div>
      </div>
    </div>
  </div>
</div>